body {
  background: #f5f5f5;
}

.title {
  margin-top: 20;
  font-size: 70px;
  text-align: center;
  color: #00539f;
  text-shadow: 3px 3px 1px lightgray;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  width: 230px;
  padding-block: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: rgb(53, 107, 186);
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

footer{
   width: 100%;
   height: 90px;
   bottom: 0px;
   position: absolute;
   border-top: 1px solid #c4c4c4;
   padding-top: 15px;
   color: #808080;
   font-size: 11px;
}

.footer-message{
    font-weight: bold;
    color: #808080;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer-contact{
    color: #808080;
    margin:0.6rem;
}
.footer-copyright{
    color: #808080;
    margin:0.6rem;
}