<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="../static/css/index.css" rel="stylesheet" />
    <title>index</title>
  </head>
  <body>
    <header>
      <h1 class="title">Welcome!</h1>
    </header>
    <nav></nav>
    <main>
      <div>
        <div class="btn-container">
          <a class="btn" role="button" href="/"> 글쓰기</a>
          <a class="btn" role="button" href="/">목록</a>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
