<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/index.css?after}" rel="stylesheet" />
    <title>index</title>
  </head>
  <body>
    <header>
      <h1 class="title">Welcome!</h1>
    </header>
    <main>
      <div class="btn-container">
        <a class="btn" role="button" th:href="@{/board/save}">글쓰기</a>
        <a class="btn" role="button" th:href="@{/board/list}">글목록</a>
      </div>
    </main>
    <footer>
      <div>
        <div class="footer-message">Board with Spring, Thymeleaf</div>
        <div class="footer-contact">Contact: wnstj444@naver.com</div>
        <div class="footer-copyright">Copyright 2020 All ⓒ rights reserved</div>
      </div>
    </footer>
  </body>
</html>
